In [6]:
# List is a build in data types that stores set of values --->(it can store elements of different types like integer, float, string, etc...)
# List is mutable in python it means you can Modifying(add) an element in the list
# Strings are immutable you can't change it further("hello") because it dosen't have any indexing system maybe

NameError: name 'hello' is not defined

In [12]:
#1
Student=["aditya",55.7,99,"Delhi"]
print(Student)

['aditya', 55.7, 99, 'Delhi']

In [29]:
#2
marks=[54,65,78,98,45,99,7454,67,87]
print(marks)
print(type(marks))
print(marks[0])
print(marks[1])
print(len(marks))

[54, 65, 78, 98, 45, 99, 7454, 67, 87]
<class 'list'>
54
65
9

In [16]:
#3 in sreing
str="Hello"
print(str[0])
str[0]="Y"

H

TypeError: 'str' object does not support item assignment

In [36]:
#in list
Student = ["aditya",55.7,99,"Delhi"]
print(Student[3])
Student[0] = "b"
print(Student)

Delhi
['b', 55.7, 99, 'Delhi']

In [60]:
num = [33,44,55,77,88,99]
print(num[0:5])

num = [33,44,55,77,88,99]
print(num[0:])

num = [33,44,55,77,88,99]
print(num[:5])

num = [33,44,55,77,88,99]
print(num[-4:-1])

[33, 44, 55, 77, 88]
[33, 44, 55, 77, 88, 99]
[33, 44, 55, 77, 88]
[55, 77, 88]

In [66]:
#List methods
#1 list.append(4)
list=[1,2,3]
list.append(4)
print(list)

[1, 2, 3, 4]

In [70]:
list=[1,2,3]
print(list.sort())
print(list)

None
[1, 2, 3]

In [78]:
#to add
list=[1,2,3]
print(list.append(4))
print(list)
print(list.sort())
print(list)

None
[1, 2, 3, 4]
None
[1, 2, 3, 4]

In [80]:
#to sort in decending order
list=[1,2,3]
print(list.sort(reverse=True))
print(list)

None
[3, 2, 1]

In [92]:
#to sort in assending order
list =['a','c','b','e','d','f']
print(list.sort())
print(list)

None
['a', 'b', 'c', 'd', 'e', 'f']

In [2]:
#to reverse
list= ['a','d','e','c','b']
list.reverse()
print(list)


#to reverse
str="hello world"
print(str[::-1])

str="hello world" 
print(str[::-2])#jumps two space


x="334"
y="555"
print(x[::-1])

['b', 'c', 'e', 'd', 'a']
dlrow olleh
drwolh
433

In [100]:
#to insert at certain index
list=[1, 2, 3, 4, 5, 6]
list.insert(3,5)
print(list)

[1, 2, 3, 5, 4, 5, 6]

In [102]:
#remove first oucerence of that provided element 
list=[1, 2, 3, 4, 5, 6]
list.remove(1)
print(list)

[2, 3, 4, 5, 6]

In [106]:
# removes element at index
list=[1, 2, 3, 4, 5, 6]
list.pop(2)
print(list)

[1, 2, 4, 5, 6]

In [112]:
# Tuple a build in data type that lest us creat immutable sequences of values
tup=(1,2,3,4)
print(type(tup))
print(tup[0])
print(tup[1])

<class 'tuple'>
1
2

In [6]:
numbers = range(1, 6) # Creates a range from 1 to 5 # Converting range to a list for 
print(list(numbers))
print(type(numbers))

[1, 2, 3, 4, 5]
<class 'range'>

In [118]:
#to print single value tuple use ,(comma)
tup=(1,)
print(tup)
tup2=(1)
print(tup2)
print(type(tup2))

(1,)
1
<class 'int'>

In [126]:
tup=(1, 2, 3, 4, 5, 6)
print(tup[0:4])
print(tup)

(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)

In [132]:
#Tuple methods
#1
tup=(1,2,3,4,5,6)
print(tup.index(5))
#2
tup=(1,2,2,2,2,3,4,5,6)
print(tup.count(2))

4
4

In [134]:
#Wap to ask the users to enter their favorite movie and store them in a list
movies=[]
mov1=input("enter your first favorite movie: ")
mov2=input("enter your second favorite movie: ")
mov3=input("enter your third favorite movie: ")

movies.append(mov1)
movies.append(mov2)
movies.append(mov3)
print(movies)

enter your first favorite movie:  aa
enter your second favorite movie:  bb
enter your third favorite movie:  cc

['aa', 'bb', 'cc']

In [136]:
#or
movies=[]
mov=input("enter 1st movie: ")
movies.append(mov)
mov=input("enter 2nd movie: ")
movies.append(mov)
mov=input("enter 3rd movie: ")
movies.append(mov)

print(movies)

enter 1st movie:  aa
enter 2nd movie:  bb
enter 3rd movie:  cc

['aa', 'bb', 'cc']

In [138]:
# also or
movies=[]
mov=input("enter 1st movie: ")
mov=input("enter 2nd movie: ")
mov=input("enter 3rd movie: ")

print(movies)

enter 1st movie:  aa
enter 2nd movie:  bb
enter 3rd movie:  cc

[]

In [150]:
# to check weather its palindrome or not
list1=[1,2,1,]
copyL=list1.copy()
copyL.reverse()
if(copyL==list1):
    print("palindrome")
else:
    print("Not palindrome")

palindrome

In [180]:
#Wap to count the number of students with the "A" gread in the following tuple
sectionB=("c","d","a","a","b","b","a")
sectionB=(sectionB.count("a"))
print(sectionB)

3

In [182]:
#sort the above value in a list and sort them from "A" to "D"
sectionB=["c","d","a","a","b","b","a"]
sectionB.sort()
print(sectionB)

['a', 'a', 'a', 'b', 'b', 'c', 'd']