In [ ]:
#Loops in python
#1st for loop
#while loop
#nested loop

In [ ]:
# while:
while True
    print("Hello world") # infinite loop print hello world Don't run

In [3]:
count= 1  #count is iterators  and iteration is no of time and loop run 
while count<=5:
    print("hello")
    count += 1

hello
hello
hello
hello
hello

In [9]:
i = 1
while i<=5:
    print("Appna college", i)
    i+=1

Appna college 1
Appna college 2
Appna college 3
Appna college 4
Appna college 5

In [4]:
i=5
while i>=1:
    print(i)
    i-=1

print("Loop Ended")

5
4
3
2
1
Loop Ended

In [40]:
#print number 100 to 1
i=100
while i>=1:
    print(i)
    i-=1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [61]:
#to print Table
i=1
while i<=10:
    print(4*i)
    i+=1
i=1
while i<=10:
    print(4*i)
    i+

4
8
12
16
20
24
28
32
36
40

In [67]:
#or
num=int(input("enter a no.: "))
i=1
while i<=10:
    print(num*i)
    i+=1

enter a no.:  50

50
100
150
200
250
300
350
400
450
500

In [79]:
#print the elements of the  following list using a loop:
num=[1,4,9,16,25,36,49,64,81,100]
idx=0
while idx<len(num):
    print(num[idx])  #num[1],num[2],num[3]...
    idx+=1



# print(num[0])
# print(num[1])
# print(num[2])#...print(num[len(num)-1]) or list-1

1
4
9
16
25
36
49
64
81
100

In [ ]:
#Traverse = if we move or travel to every elements one by one of list ,tuple or dictionary..
heroes=["iron man","thor","batman","spiderman"]
i=0 #u can use idx or anyting insted of i here
while i<len(heroes):
    print(heroes[i])
    i+=1

In [10]:
#search for a number x in this tuple using loop:
num=(1,4,9,16,25,36,49,64,81,100)
x = 9
i = 0
while i < len(num):
    if(num[i] == x):
        print("Found at idx: ", i)
    else:
        print("finding...")
    i += 1

finding...
finding...
Found at idx:  2
finding...
finding...
finding...
finding...
finding...
finding...
finding...

In [2]:
i=1
while i<=5:
    print(i)
    if (i==2):
        break
    i+=1

print("end of the loop")

1
2
end of the loop

In [8]:
#if you want to end the loop after fnding
num=(1,4,9,16,25,36,49,64,81,100)
x = 9
i = 0
while i < len(num):
    if(num[i] == x):
        print("Found at idx: ", i)
        break
    else:
        print("finding...")
    i += 1
print("end of loop")

finding...
finding...
Found at idx:  2
end of loop

In [22]:
i=0
while i<=5:
    if (i==3):
        i+=1
        continue #skip
    print(i)
    i+=1

0
1
2
4
5

In [26]:
#for odd 
i=0
while i<=5:
    if (i%2==0):
        i+=1
        continue #skip
    print(i)
    i+=1

1
3
5

In [28]:
#for even
i=0
while i<=5:
    if (i%2!=0):
        i+=1
        continue #skip
    print(i)
    i+=1

0
2
4

In [32]:
#for loop
#Loops are used for siquential triversal,for traversing list ,string,tuple etc.
value=[1,2,3,4,5,6]
for num in value:
    print(num)

1
2
3
4
5
6

In [36]:
veggies=["patato","brinjal","cabage","tomato","ladyfinger","cucumber"]
for val in veggies:
    print(val)

patato
brinjal
cabage
tomato
ladyfinger
cucumber

In [48]:
tup=(1,2,3,4,56,6,)
for num in tup:
    print(num)

str ="appnacollege"
for char in str:
    print(char)
else:
    print("End")

1
2
3
4
56
6
a
p
p
n
a
c
o
l
l
e
g
e
End

In [62]:
#vvi why else is used if not found o in that case it is used
str="apnacollege"
for char in str:
    if(char=='o'):
        print("o found")
        break
        print(char)
else:
    print("End")

o found

In [64]:
#Print the elements of the following list using a loop:
#[1, 4, 9, 16, 25, 36, 49, 64, 81,100]

nums = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
for el in nums:
    print(el)

1
4
9
16
25
36
49
64
81
100

In [68]:
#Search for a number x in this tuple using loop:
#[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
nums =(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 49)
x = 49
idx = 0
for el in nums:
    if(el == x) :
        print ("number found at idx", idx)
        #break
    idx += 1

number found at idx 6
number found at idx 10

In [17]:
#range() function returns a sequesce of no. starting from zero by defalt and increse by 1 by defalt stops before any spicified no.
print(range(5))

seq= range(5)
print(seq[0])
print(seq[1])
print(seq[2])

seq= range(10)
for i in seq:
    print(i)

for i in range(10): #range(stop)
    print(i)

for i in range(3,10): #range(start, stop)
    print(i)

for i in range(3,10,2): #range(start, stop,step or jump)
    print(i)

range(0, 5)
0
1
2
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
3
4
5
6
7
8
9
3
5
7
9

In [45]:
# for even using range
for i in range (2,101,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [47]:
#for odd using range
for i in range(1,101,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [53]:
#print no from 0 to 100
for i in range(101):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [55]:
# print no from 0 to 100
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [57]:
#print no from 100 to 1
for i in range(100,0,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [61]:
#print the multiplication table of n
n=int(input("enter a number"))
for i in range(1,11):
      print(n*i)

enter a number 5

5
10
15
20
25
30
35
40
45
50

In [69]:
#pass statement if u wanna add code further in loop
# pass is a null statement that does nothing. it is used as a placeholder for future code.
for i in range(5):
    pass  #u get error without pass
if i > 5:  #if u wanna assign action but not now
    pass
print("some useful work")

some useful work

In [73]:
#WAP to find the sum of first n numbers.
n=5
sum=0
for i in range(1, n+1):
    sum +=i
print("total sum = " ,sum)

total sum =  15

In [79]:
#or
n=int(input())
sum=0
for i in range(1, n+1):
    sum +=i
print("total sum =",sum)

 10

total sum = 55

In [ ]:
#WAP to find the sum of first n numbers. (using while)
n=5
sum=0
i=1
while i<=n:
    sum+=i
print("total sum = ", sum)

In [8]:
#WAP to find the sum of first n numbers. (using while)
n= 5
sum=0
i= 1
while i <= n:
    sum+=i
    i +=1
print("total sum = ", sum)

total sum =  15

In [16]:
# #WAP to find the factorial of first n nu
# n=1 → 1
# n = 2 → 2
# n =3 → 6
# n = 4 → 24
# n=5 → 120
# .
# .
# .
# and so on

n= 4
fact=1
i= 1
while i <= n:
    fact*=i
    i +=1
print("total sum = ", fact)

total sum =  24

In [20]:
n = 5
fact = 1
for i in range(1, n+1):
    fact *= i
print("factorial =", fact)

factorial = 120