In [ ]:
# #Function in python is a block of reuseable code or statement that perform a speciic task.(AND REDUCE REDUNDENT)   
# def function_name(param!,param2....)
#    #some work
#    return val
# function_name(arg1,arg2...)#function_ call

In [11]:
def calc_sum(a, b):`
    sum = a + b
    print(sum)
    return sum
calc_sum(5, 10)
calc_sum(33, 99)

15
132

132

In [17]:
def cal_sum(a, b):
    sum = a + b
    print(sum)
    return sum
cal_sum(50, 50)

100

100

In [19]:
def calculate_sum(a, b):
    return(a + b)
calculate_sum(33, 33)

66

In [23]:
#this is function defination
def cal_sum(a, b): #parameters
    return(a + b)
sum = cal_sum(2, 2) #function call &  1,2 is arguments
print(sum)

4

In [29]:
def print_hello():
    print("hello")
print_hello()
print_hello()

hello
hello

In [31]:
def print_hello():
    print("hello")
output = print_hello()
print(output)

hello
None

In [33]:
#average of 3 no
def calc_avg(a, b, c):
    sum = a + b + c
    avg= sum / 3
    print(avg)
    return avg
calc_avg(88, 88 , 99)

91.66666666666667

91.66666666666667

#Types of Build in functions in python
# 1.Build-in Functions -->print(),len(),type(),range()
# 2.user defined functions
print("THis is Nothing", "Aditya") #sep = " "

print("THis is Nothing") #sep = "\n"
print("MAN") #sep = "\n"


print("THis is Nothing", end="$") #sep = " "

print("Aditya", end="\n") #end = "\n"

 #we pass or give a defaultvalues to your paratemeters so in case if we not pass any argument for thta it take that automaticaly

In [55]:
def cal_prod(a=1, b=1):
    print( a * b)
    return(a * b)
cal_prod()

1

1

In [66]:
def cal_prod(a, b=1):#but we can not do the opposite of it we must have to decelear the last value parameter or default value
    print( a * b)
    return(a * b)
cal_prod(2)

2

2

# write a function(WAF)to print the length of a list.(list is the parameter)

In [ ]:
cities = ["Delhi", "Mumbai", "Ranchi", "Gurgaon", "Chennai"]
heroes = ["Thor", "Shaktiman", "Captain America", "Nobita"]

def print_len(list):
    print(len(list))

print_len(cities)
print_len(heroes)

#WAF to  print the element of a list in a single line>(list is the parameter).

cities = ["Delhi", "Mumbai", "Ranchi", "Gurgaon", "Chennai"]
heroes = ["Thor", "Shaktiman", "Captain America", "Nobita"]

# print(heroes[0], end=" ")
# print(heroes[1], end=" ")
# OR

def print_list(list):
    for item in list:
        print(item, end=" ")
        
print_list(heroes)
print_list (cities)

WAF to print the factorial of n.(n is the parameter)

In [100]:
# n = 5
# for i in range(1, n+1):
#     fact *= i
# print(fact)
n = 5
def cal_fact(n):
    fact = 1
    for i in range(1, n+1):
        fact *=i
    print(fact)
cal_fact(5)

120

#WAF TO CONVET USD to INR

In [103]:
def converter(usd_val):
    inr_val = usd_val * 83
    print(usd_val, "USD =",inr_val, "INR")
converter(50)

50 USD = 4150 INR

#Recursion
when a function calls itself repetedely

In [108]:
#prints n to 1 backwards
def show(n):
    if(n == 0):
        return
    print(n)
    show(n-1)

In [8]:
#recursive function
def show(n):
    if(n ==0): #base case to stop u can take (-1) at place of 0 to print 0 too otherwise it run infinite and ocupy the whole memory
        return
    print(n)
    show(n-1)
    print("END")
show(5) #5,4,3,2,1

5
4
3
2
1
END
END
END
END
END

#Recursion

n! = 1*2*3*4...*(n-1)*n OR--> n! = (n-1)!*n
4! = 1*2*3*4
3! = 1*2*3
2! = 1*2
OR 5! = 4! * 5

#BY Default
1! = 1
0! = 1

In [12]:
#returns n!

def fact(n):
    if(n == 0 or n == 1):
        return 1
    else:
        return n * fact(n-1)

# if you have to find -->fact(n) = fact(n-1)*n
#             OR  "   -->fact(n-1)=fact(n-2)*(n-1)

In [18]:
#to find factorial of n! or any

def fact(n):
    if(n == 1 or n == 0):
        return 1
    return fact(n-1)*n
print(fact(5))

120

In [22]:
# Write a recursive function to calculate the sum of first n natural numbers.
def cal_sum(n):
    if(n == 0):
        return 0
    return cal_sum(n-1) + n
sum = cal_sum(5)
print(sum)

15

In [24]:
#Write a recursive function to print all elements in a list.
def print_list(list, idx=0):
    if(idx == len(list)):
        return
    print(list[idx])
    print_list(list, idx+1)

fruits = ['Mango', "guave","apple","banana"]

print_list(fruits)

Mango
guave
apple
banana